*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    height: 95vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(181, 178, 178, 0.952);
}
.display input{
    width: 310px;
    margin: 10px;
    height: 70px;
    text-align: right;
    font-size: 35px;
}
.pads, input{
    border-radius: 10px;
    padding: 0px;
    background: #3a4452;
    margin: 0;
    width: 27.5%;
    
}
button, input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(255, 255, 255, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.equal{
    background: green;
}
.delete{
    background: red;
}
.remove{
    background: blue;
}
.title{
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    display:flex;
    justify-content: space-between;
}
.title p{
   font-size: 30px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-style: italic;
   color: #fff;
}
#switch{
    border-radius: 40%;
    height: 35px;
}
 @media  screen and (max-width: 600px) {
    .pads, input{
        border-radius: 10px;
        padding: 0px;
        background: #3a4452;
        margin: 0;
        width: 100%;
        
    }
} 